

.main {
    font-family: 'Roboto', sans-serif;
}


.welcome {
    color:#A1A2A3;
    font-size: 1rem;
}

.name {
    color:#fff;
    font-size: 3.5rem;
    margin-top: .5em;
}


.name-on {
    color:#262A2D;
    font-size: 3.5rem;
    margin-top: .5em;
}




.name-color {
    color: #FF0452;
}


.web {
    color:#fff;
    font-size: 2.5rem;
}

.web-light {
    color:#262A2D;
    font-size: 2.5rem;
}
.main-paragraph {
    color: #A1A2A3;
    width: 60%;
    margin-top: 2em;
    
}

.find {
    color: #A1A2A3; 
    margin-top: 8em;
}

.logo {
    background: rgb(33,36,41);
    background: linear-gradient(90deg, rgba(33,36,41,1) 0%, rgba(33,36,41,1) 16%, rgba(33,36,41,1) 20%, rgba(33,36,41,1) 36%, rgba(88,89,91,1) 94%);
    box-shadow: -7px 1px 26px -5px rgba(133,127,127,0.75);
    border-radius: 20%;
    height: 40px;
    width: 40px;
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.logo-position {
    display: flex;
    justify-content: space-between;
    width: 150px;
    cursor: pointer;
}

.second-col {
  background-image: linear-gradient(to right top, #313337, #2d2f33, #292b30, #25282c, #212429);
  box-shadow: -7px 1px 26px -5px rgb(133 127 127 / 75%);
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0;
  margin: 0 10%;
  position: relative;
  width: 100%;
}

.second-col-light {
    box-shadow: -7px 1px 26px -5px rgb(133 127 127 / 75%);
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0;
    margin: 0 10%;
    position: relative;
    width: 100%;
}

.main-image {
    height: 130%;
    margin-bottom: 8.5;
    background-color: transparent;
    
}

.main-col {
    margin-top: 100px;
    margin-left: 5%;
}

.picture-img {
}