* {
    font-family: 'Roboto', sans-serif;;
    
}


.navbar-container {
  padding-top: 40px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;

}


.nav-logo img {
  transform: translateX(-25%);
}

.hamburger-button {
  border: none;
  background-color: transparent;
  height: 20px;
  position: absolute;
  top: 71px;
  right: 20px;
  display: none;
}
.hamburger-line {
  background-color: #fff;
  height: 2px;
  width: 25px;
  border-radius: 5px;
  transition: 300ms;
  
}

.hamburger-line-open {
  background-color: transparent;
  height: 2px;
  width: 25px;
  border-radius: 5px;
  transition: 300ms;
  /* transform: translateX(-50px); */
}

.hamburger-line::after,
.hamburger-line::before
 {
  content: '';
  position: absolute;
  height: 2px;
  width: 25px;
  background-color: #fff;
  border-radius: 5px;
  transition: 300ms;
}

.hamburger-line-open::after,
.hamburger-line-open::before
 {
  content: '';
  position: absolute;
  height: 2px;
  width: 25px;
  background-color: #fff;
  border-radius: 5px;
  transition: 300ms;
}

.hamburger-line-open::after {
  transform: rotate(45deg) translate(-10px, 8px);
}
.hamburger-line-open::before {
  transform: rotate(-45deg) translate(-8px, -10px);
}

.hamburger-line::after {
  transform: translate(-13px, -8px);
}

.hamburger-line::before {
  transform: translate(-13px, 8px);
}


.nav-menu {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;

}
.nav_menu_list {
  transform: translateY(-500px);
}
.nav-link {
  cursor: pointer;
  color: #fff !important;
}

.nav-link-on {
  color: black !important;
  cursor: pointer;
  text-decoration: none;
}

.nav-link:hover {
  color: #FF0452 !important;
}

.nav-link-on:hover {
  color: #FF0452 !important;
}


.menu-link-open:hover {
  color: #FF0452 !important;
}

.hire-me-button {
  display: flex;
  justify-content: center;
}

.button-hire {
  box-shadow: -1px -15px 95px -9px rgba(255,122,122,1);
}

.navbar-open-container {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(0,0,0,0.79);
  z-index: 1000;
  transform: translateY(-1000px);
  transition: 300ms;
}

.navbar-open-container-true {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(0,0,0,0.79);
  z-index: 1000;
  transition: 300ms;
}

.nav_menu_list_open {
  display: none;
}

.menu-link-open {
  color: #fff;
  list-style: none;
  font-size: 2em;
  text-decoration: none;
  padding: 30px;
  cursor: pointer;
  z-index: 1001;
  width: 100%;
  text-align: center;

}

.menu-link-open:hover {
  background-color: #fff;
}

.menu-link-open.about {
  transform: translateX(600px);
}
.menu-link-open.home {
  transform: translateX(600px);
}
.menu-link-open.contact {
  transform: translateX(600px);
}
.menu-link-open.portfolio {
  transform: translateX(600px);
}
.menu-link-open.about-open {
  transition: 1000ms;
}
.menu-link-open.home-open {
  transition: 500ms;
}
.menu-link-open.contact-open {
  transition: 2000ms;
}
.menu-link-open.portfolio-open {
  transition: 1500ms;
}

.theme__button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.moon__button {
  color: #fff;
  transition: 500ms;
}
.moon__button__open {
  transform: translateY(-100px);
  transition: 500ms;
}

.sun__button {
  color: #FF0452;
  transform: translateY(-100px);
  transition: 500ms;
}

.sun__button__open {
color: #FF0452;
transition: 500ms;
transform: translateX(-35px);
}



@media screen and (max-width: 1000px)  {
  .nav-menu {
    display: none;
  }
  .hire-me-button {
    display: none;
  }
  .hamburger-button {
    display: block;
    transform: translateX(-40px);
    z-index: 10001;
  }
  .nav_menu_list_open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 3000;
  }

  .theme__button {
    right: -20px;
  }

  .navbar-open-container-true {
    display: block;
  }
  .navbar-open-container {
    display: block;
  }
}