.portfolio-card {
  background-image: linear-gradient(to right top, #313337, #2d2f33, #292b30, #25282c, #212429);
  box-shadow: -7px 1px 26px -5px rgba(133,127,127,0.75);
  height: 450px;
  width: 100%;
  margin: 20px;
  border-radius: 12px;
}

.portfolio-card-light {
  box-shadow: -7px 1px 26px -5px rgba(133,127,127,0.75);
  height: 450px;
  width: 100%;
  margin: 20px;
  border-radius: 12px;
  
}

.flip-button {
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: var(--color-);
}
