

.red-underline {
  background-color: #FF0452;
  height: 2px;
  width: 60px;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center
  
  
}

.title-wrapper h2 {
  margin-top: 30px;
  color: #A1A2A3;
  font-size: 1.5rem;
  margin-bottom: 80px;
}

.title-name {
  font-size: 1.3rem;
  color: #fff;
}

.title-name-light {
  font-size: 1.3rem;
  color: #262A2D;
}