

.who-content {
    margin-top: 100px;
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 200px;
    position: relative;
    z-index: 1;
    margin: 0 5%;
    
}

.who-title-header {
    width: 100%;
    text-align: center;
}
.who-content p {
    width: 100%;
}

.who-name {
    
    font-size: 1.5rem;
    
    
}

.who-picture {
    background: transparent;
    height: 100%;
    object-fit: contain;
    
}



.second-col-who {
    background-image: linear-gradient(to right top, #313337, #2d2f33, #292b30, #25282c, #212429);
    box-shadow: -7px 1px 26px -5px rgba(133,127,127,0.75);
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0;
    margin: 0 10%;
    margin-top: 100px;
    overflow: hidden;
    width: 100%;
}

.second-col-who-light {
    box-shadow: -7px 1px 26px -5px rgba(133,127,127,0.75);
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0;
    margin: 0 10%;
    margin-top: 100px;
    overflow: hidden;
    width: 100%;   
}

.download-pdf {

    box-shadow: -1px -15px 95px -9px rgba(255,122,122,1);
}

